body {
  display: flex;
  justify-content: center;
  margin: 50px;
  font-family: roboto, sans-serif;
  background-color: ghostwhite;
}

table {
  width: 90;
  border-collapse: collapse;
}

tr, th, td {
  text-align: left;
  padding: 10px;
  border: 1px solid black;
}